html,body{min-height:100%}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,b,i,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0}
body{font-size:12px;font-family:'Helvetica Neue',Helvetica,'Segoe UI',Frutiger,Tahoma,Arial,sans-serif;color:#1A1A1A;text-align:left;padding:0;margin:0;       background: -webkit-radial-gradient(black 15%, transparent 16%) 0 0, -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px, -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px; background-color: hsl(0, -10%, 16%); background-size:16px 16px;}
div,section,header,aside,article,footer,nav{display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}
input,textarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}
*[draggable="true"]{-moz-user-select:none;-khtml-user-drag:element;cursor:move}
html,body,.page-container{width:100%;height:100%;padding:0}

.text.small{font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:11px;color:#999;font-weight:normal;rgb(153,153,153)}
.text.subheading-size{font-size:18px}
.text.feature-size{font-size:14px}
.text.body-size{font-size:12px}
.text.small-size{font-size:11px}

.page-container{overflow:hidden}
.app-container{position:absolute;top:15px;left:50px;right:50px;bottom:10px}
.app{height:100%;width:100%}
.app > section{position:absolute;width:100%;height:100%;overflow:visible;overflow-y:auto}

.app > section.app-panel{background-color: hsl(384, 45%, 70%);border-top-left-radius:10px;-moz-border-radius-topleft:10px;-webkit-border-top-left-radius:10px;border-top-right-radius:10px;-moz-border-radius-topright:10px;-webkit-border-top-right-radius:10px;border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;-webkit-border-bottom-right-radius:6px;border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;-webkit-border-top-bottom-radius:6px;box-shadow:inset 0 -1px 0 rgba(0,0,0,0.33),0 0 15px rgba(0,0,0,0.95);-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.33),0 0 15px rgba(0,0,0,0.95);-moz-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.33),0 0 15px rgba(0,0,0,0.95)}
.app > section.app-panel > header{position:absolute;text-align:left;left:0;top:0;z-index:3;width:100%;height:45px;padding:10px;overflow:hidden;background-color:#000;border-top-left-radius:10px;-moz-border-radius-topleft:10px;-webkit-border-top-left-radius:10px;border-top-right-radius:10px;-moz-border-radius-topright:10px;-webkit-border-top-right-radius:10px;border-bottom-right-radius:0;-moz-border-radius-bottomright:0;-webkit-border-bottom-right-radius:0;border-bottom-left-radius:0;-moz-border-radius-bottomleft:0;-webkit-border-top-bottom-radius:0;border-bottom:1px solid rgba(0,0,0,0.5);box-shadow:inset 0 1px rgba(255,255,255,0.4),0 0 5px rgba(0,0,0,0.66);-webkit-box-shadow:inset 0 1px rgba(255,255,255,0.4),0 0 5px rgba(0,0,0,0.66);-moz-box-shadow:inset 0 1px rgba(255,255,255,0.4),0 0 5px rgba(0,0,0,0.66);background-image:-moz-linear-gradient(center top,rgba(255,255,255,0.1),rgba(0,0,0,0.1));background-image:-webkit-gradient(linear,center top,center bottom,from(rgba(255,255,255,0.1)),to(rgba(0,0,0,0.1)))}
.app > section.app-panel > header > .app-title{float:left;color: #WHITE;text-shadow:0 -1px 0 rgba(0,0,0,0.33);display:inline-block;vertical-align:middle;max-width:60%;font-size:18px;font-weight:bold;margin-right:10px;padding-left:10px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;text-decoration:none}
.app > section.app-panel > header > .app-title:hover{text-shadow:0 -1px 0 rgba(0,0,0,0.33),0 -1px 10px rgba(255,255,255,0.66)}

.app > section.app-panel > aside{background-color: WHITE;position:absolute;left:10px;top:45px;bottom:15px;z-index:1;width:180px;-webkit-transition:width 0.33s ease-in-out;-moz-transition:width 0.33s ease-in-out;-o-transition:width 0.33s ease-in-out;transition:width 0.33s ease-in-out;box-shadow:inset 1px 0 0 rgba(255,255,255,0.66),0 0 4px rgba(0,0,0,0.8);-webkit-box-shadow:inset 1px 0 0 rgba(255,255,255,0.66),0 0 4px rgba(0,0,0,0.8);-moz-box-shadow:inset 1px 0 0 rgba(255,255,255,0.66),0 0 4px rgba(0,0,0,0.8);overflow:visible}
.app > section.app-panel > aside > nav.app-nav > ul{margin-top:10px;margin-bottom:15px}
.app > section.app-panel nav.app-nav ul li > a{display:inline-block;position:relative;padding:3px 10px;color:#000;font-weight:normal;border-top:1px solid rgba(255,255,255,0.005);border-bottom:1px solid rgba(0,0,0,0.005);text-decoration:none}

.app > section.app-panel > header{position:absolute;text-align:left;left:0;top:0;z-index:3;width:100%;height:45px;padding:10px;overflow:hidden}

.app > section.app-panel > section{position:absolute;left:190px;top:45px;right:10px;bottom:10px;z-index:2;box-shadow:inset 1px 0 0 rgba(255,255,255,0.66),0 0 8px rgba(0,0,0,1);-webkit-box-shadow:inset 1px 0 0 rgba(255,255,255,0.66),0 0 8px rgba(0,0,0,1);-moz-box-shadow:inset 1px 0 0 rgba(255,255,255,0.66),0 0 8px rgba(0,0,0,1);overflow-x:visible;overflow-y:auto;}

.app-panel .content > div{padding:15px;background:#FFF}
.content-box {margin-top:8px;}

.formrow {background-color:#dbe1e8;border-bottom: 1px solid #B9C7D3;}
.formrow .formfield span{display:block;vertical-align:top;zoom:1;min-height:18px;margin:1px 1px;text-align:left;}
.taskform input, .taskform textarea{margin-left:6px; margin-right: 4px; margin-bottom: 4px;font: 17px arial,sans-serif;border-bottom: 1px solid #999;border-top: 1px solid #CCC; border-left: 1px solid #BBB;border-right: 1px solid #BBB;}
.other.small {height: 26px;width: 98%;}
.other.medium {height: 52px;width: 98%;}
.other.large {height: 156px;width: 98%;}
.formend {margin-top:10px;border-top: 1px dotted #CCC;padding-top: 8px;}

.inboxrow.title span{font-weight:bold;background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F9F9F9),to(#E3E3E3));border:1px solid #BBB; border-bottom-color:#A0A0A0; border-top-color:#ccc; border-radius:3px 3px 3px 3px;-moz-border-radius:3px 3px 3px 3px;-webkit-border-radius:3px 3px 3px 3px;}
.inboxrow .inboxfield span{display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;width:100px;height:18px;padding-top:5px;margin:1px 1px;text-align:-webkit-auto;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.inboxrow .inboxlabel span{width:18em;padding:0 6px 0 0;float:left;display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;height:18px;padding-top:5px;margin:1px 1px;}
.inboxend {margin-top:10px;border-top: 1px dotted #CCC;padding-top: 8px;}
/*.inboxrow:nth-child(even){background-color: #ccc;border-radius:6px 6px 6px 6px;-moz-border-radius:6px 6px 6px 6px;-webkit-border-radius:6px 6px 6px 6px;}
 */
.inboxrow {background-color:#dbe1e8;border-bottom: 1px solid #B9C7D3;}

fieldset.taskform {display: inline-block; width:49.5%; vertical-align: top;}

.app-themeselector > li.theme-standard,.notebook.theme-standard > a > aside,.app > section.app-panel.theme-standard nav ul li.selected > a,.app > section.app-panel.theme-standard nav ul li.selected > a:hover,section.app-panel.theme-standard .filter-results-panel .filter-results .filter-section ul.filter-list > li.selected,section.app-panel.theme-standard .filter-results-panel .filter-results .filter-section ul.filter-list > li.selected:hover,.app > section.app-panel.theme-standard > header{background-color:#6e88a4;color:#FFF}

.createbutton {cursor:pointer;height:26px;border-bottom: 1px solid #999;border-top: 1px solid #CCC; border-left: 1px solid #BBB; border-right: 1px solid #BBB;background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F9F9F9),to(#E3E3E3));padding:4px;}

#definitions li.definitions a, #definitions li.definitions a:hover, #inbox_new li.inbox > a, #inbox_new li.inbox > a:hover, #settings li.settings a, #settings li.settings a:hover {background-color:#6E88A4; color:#FFF; border-top: 1px solid #000; border-bottom: 1px solid #000}
ul.sub {padding-left:5px;}
#notification {background-color: #green; opacity: 0.5; position: absolute; top: 0px; left: 0px ; width: 100%; height: 20px; display: none; border-bottom: 1px solid #000}

/*new css*/
#login{float:right;}

table {table-layout:fixed; width: 100%;}
table th {cursor:pointer;padding:4px;min-width: 75px;max-width:150px;font-weight:bold;background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F9F9F9),to(#E3E3E3));background: -moz-linear-gradient(bottom, #E3E3E3, #F9F9F9);border:1px solid #BBB; border-bottom-color:#A0A0A0; border-top-color:#ccc; border-radius:3px 3px 3px 3px;-moz-border-radius:3px 3px 3px 3px;-webkit-border-radius:3px 3px 3px 3px;}
table th.headerSortUp {background-image: url(/images/sortarrow_asc.gif) right no-repeat;} 
table th.headerSortDown {background-image: url(/images/sortarrow_desc.gif) right no-repeat;} 
table td {padding:4px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;border-bottom: 1px solid #B9C7D3; border-left: 1px solid #B9C7D3; border-right: 1px solid #B9C7D3;}
table td.form {vertical-align: top;white-space: normal;padding:8px;border-bottom: 1px solid #B9C7D3; border-left: 1px solid #B9C7D3; border-right: 1px solid #B9C7D3;}
table tbody tr:nth-child(even) {background-color:#f0f0f6;}
textarea{height:68px; }

#pager{margin-top:5px;}
#content {background-color:#fff; padding: 15px;}

.text.table {font-size:11px;font-family:arial;}
.text.header{font-family:'Droid Serif',Arial,sans-serif;font-weight:bold;font-size:18px;margin-bottom: 8px}
.text.feature{font-family:'Droid Serif',Arial,sans-serif;font-style:italic;font-size:14px; margin-bottom: 4px;}
.text.subheader{font-family:'Droid Serif',Arial,sans-serif;font-weight:bold;font-size:16px;margin-bottom: 8px}
.text.body{font-family:'Helvetica Neue',Helvetica,'Segoe UI',Frutiger,Tahoma,Arial,sans-serif;font-weight:normal;font-size:12px;rgb(51,51,51)}

.table.action {width:23px; text-align:center;}
.table.small {width:50px;}
.table.medium {width:100px;}
.table.large {width:200px;}

.image {border:none; float:left;padding:3px;}
.image.large {height: 150px; width: 100px;}
.image.medium {height: 100px; width: 100px;}
.image.small {height: 50px; width: 50px;}

.box {border: 1px solid #ccc; padding: 5px;}
.box.dashboard {width: 30%; margin-right: 15px; margin-bottom:15px; float:left; background-color:#f0f0f6; -webkit-border-radius: 5px; border: 1px solid #B9C7D3;}

.button{height:26px;cursor:pointer;border-bottom: 1px solid #999;border-top: 1px solid #CCC;border-left: 1px solid #BBB;border-right: 1px solid #BBB;padding:4px;}
.button.shiny{text-shadow:0 -1px 0 rgba(0,0,0,0.33);box-shadow:inset 0 1px 0 rgba(255,255,255,0.75),0 1px 0 rgba(255,255,255,0.75);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.75),0 1px 0 rgba(255,255,255,0.75);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.75),0 1px 0 rgba(255,255,255,0.75);background-image:-moz-linear-gradient(center top,rgba(255,255,255,0.66),rgba(255,255,255,0.45),rgba(255,255,255,0.2),rgba(255,255,255,0.001));background-image:-webkit-gradient(linear,center top,center bottom,from(rgba(255,255,255,0.66)),to(rgba(255,255,255,0.001)),color-stop(50%,rgba(255,255,255,0.45)),color-stop(50%,rgba(255,255,255,0.2)))}
.button.grey{color:#000;background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F9F9F9),to(#E3E3E3));}
.button.green{color:#000;background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F9F9F9),to(#DBE7DB));}
.button.rounded{border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;}
.button.search {margin-left:-3px;border-left: none;}
.button.margin {margin-left: 20px;}

.field {padding: 3px;font-family: 'Droid Serif', arial, serif;width:100%; border-bottom: 1px solid #999;border-top: 1px solid #CCC; border-left: 1px solid #BBB;border-right: 1px solid #BBB;}
.field.search {font: 17px arial,sans-serif;width:450px;padding-left: 6px; height: 26px;}
.field.search:focus{outline:none;}

.part.header {min-height: 100px}
.part.header > div {max-width: 700px;} 
.part.content {padding-top: 10px;}

.no-underline{text-decoration:none;}
.clear{clear: both;}
.float-left {float:left;margin-left:20px;}

