/*Base*/
div,section,header,aside,article,footer,nav,input,textarea{display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}
body {font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 13px; background-color: white; clear:both; margin: 0; padding: 0;}

input, textarea, select{margin:0;font: 17px arial,sans-serif;border-bottom: 1px solid #999;border-top: 1px solid #CCC; border-left: 1px solid #BBB;border-right: 1px solid #BBB; padding: 8px; -webkit-border-radius: 2px; width: 100%;}
input[type="submit"] {min-width:100px;width: 83px;}
input[type="radio"], input[type="checkbox"]{margin: 0; border:0}
textarea{height:172px}
input:focus:invalid {background: red;}
input:focus:valid {background: green;}
input.search {float: left; width: 425px; -webkit-border-radius: 0px;}

a {text-decoration: none; color: #39F; font-weight: bold;}

.invisible{display: none}
.hide {position: absolute; left: -10000px}
.clear{clear: both;}

.button{cursor:pointer;border-bottom: 1px solid #999;border-top: 1px solid #CCC;border-left: 1px solid #BBB;border-right: 1px solid #BBB;padding: 5px; font-size: 13px; -webkit-border-radius: 0px; min-width: 80px; display: inline-block; text-align: center; margin: 0.9px;}
.button.blue{color:#fff;background: #63B4CD; border: solid 1px #556677;}
.button.red{color:#fff;background: #EF6C6C; border: solid 1px #882211;}
.button.green{color:#fff;background: #8AB459; border: solid 1px #226600;}
.button.darkBlue {
    background: hsl(194, 51%, 25%);  border: solid 1px hsl(210, 17%, 40%);
    color: white;
}

/*Layout*/
.crt {  background-color: #DDE5D9;    width: 630px;  border-right: solid 1px hsl(194, 12%, 66%); min-height:540px;  height: 100%; float: left;}
aside {float:right; width: 290px; height: 100%;}

/*Module*/
.crt .crt-definitions ul {list-style: none;  margin: 0; padding: 15px; }
.crt .crt-definitions ul li {display: inline; margin: 0 5px;}
.crt form {padding: 0; width: 100%;}
.crt div.crt-desc { padding: 10px; width: 100%; background: snow; border-top: solid 1px hsl(0, 0%, 80%); border-bottom: solid 1px hsl(0, 0%, 80%); background: hsl(100, 19%, 100%); font: 17px arial,sans-serif; color: hsl(0, 0%, 10%); font-style: italic;}
.crt form.crt-task div.header {  padding: 3px; }
.crt form.crt-task article {margin: 10px 0 0 0;}
.crt form.crt-task > section {
    padding: 5px 15px;
}
.crt div.crt-buttons {padding: 15px; float: right;}

.close {cursor: pointer;
height: 30px;
left: 50%;
margin-left: 453px;
top: 30px;
width: 30px;
z-index: 100100;
position: fixed;
background-image: url('http://a.unbounce.com/s/images/fancybox/fancybox.png');
background-position: -40px 0px;}

.crt-post {
    padding: 15px;
    margin-bottom: 7px;
}
.crt-post-userinfo {
    float: left;
    width: 480px;
}
.crt-post-userinfo input {
    width: 235px;
    display: inline;
}
.crt-post-buttons {
    padding-top: 5px;
    float: right;
}

