div,section,header,aside,article,footer,nav,input,textarea{display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}
body {font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 13px; background-color: white; clear:both; margin: 0; padding: 0;}
.top {background-color: #000; color: white;  padding: 5px; vertical-align: bottom;}
.container {width: 1000px;  margin:0 auto;  }
.pageNav {display: inline;}
.login {display: block; float: right;}
.userInfo {float: left; background-color: white; width: 250px; min-height: 450px; }
.main {float: right; width: 750px;}
.userName {display: block; background: white; padding: 25px 0; margin-top: 10px; font-size: 32px; }
.userNav {display: block;     color: #4D90FE; border-bottom: solid 2px #4D90FF; text-decoration: none; font-size: 16px;}
.footer {clear: both; background-color: #FFFFCC; margin-top: 10px; min-height: 300px; border: solid 1px #ccc;}
.createTask {border: solid 1px #CCC;  background-color: #f4f4f4; padding: 10px 5px;}
.definitions { }
.definition {width: 365px; background-color: #f4f4f4; border: solid 1px #ccc; display: inline-block; min-height: 250px; margin-top: 20px;}
.left {float: left}
.right {float: right}
.user {border: solid 1px #CCC; max-width: 230px; max-height: 230px; margin: 20px 0;}
a {text-decoration: none; color: #4D90FE; font-weight: bold;}
table {padding: 0; text-align: left;}
td {padding: 0 3px; max-width: 90px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
th {padding: 0 3px;}
.button {background: #4D90FE; padding: 3px; margin: 5px; color: white; border: solid 1px #556677;}
input, textarea{margin-left:6px; margin-right: 4px; margin-bottom: 4px;font: 17px arial,sans-serif;border-bottom: 1px solid #999;border-top: 1px solid #CCC; border-left: 1px solid #BBB;border-right: 1px solid #BBB;}
form {margin: 10px -6px; background: #FFC; border: solid 1px #ccc; padding: 19px;}
section.createTask .description {margin: 5px 10px 20px 10px; padding: 5px; border: solid 1px #ccc; background: #f4f4f4;}
.clear{clear: both;}
.invisible{display: none}
form.task div.header {width: 200px; text-align: right; padding: 3px; margin-right: 10px;}
form.task article {margin: 0 0 10px 0;}

.button{height:26px;cursor:pointer;border-bottom: 1px solid #999;border-top: 1px solid #CCC;border-left: 1px solid #BBB;border-right: 1px solid #BBB;padding:4px;}
.button.shiny{text-shadow:0 -1px 0 rgba(0,0,0,0.33);box-shadow:inset 0 1px 0 rgba(255,255,255,0.75),0 1px 0 rgba(255,255,255,0.75);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.75),0 1px 0 rgba(255,255,255,0.75);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.75),0 1px 0 rgba(255,255,255,0.75);background-image:-moz-linear-gradient(center top,rgba(255,255,255,0.66),rgba(255,255,255,0.45),rgba(255,255,255,0.2),rgba(255,255,255,0.001));background-image:-webkit-gradient(linear,center top,center bottom,from(rgba(255,255,255,0.66)),to(rgba(255,255,255,0.001)),color-stop(50%,rgba(255,255,255,0.45)),color-stop(50%,rgba(255,255,255,0.2)))}
.button.grey{color:#000;background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F9F9F9),to(#E3E3E3));}
.button.green{color:#000;background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F9F9F9),to(#DBE7DB));}
.button.rounded{border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;}
.button.search {margin-left:-3px;border-left: none;}
.button.margin {margin-left: 20px;}
