body {font-family: "lucida grande",tahoma,verdana,arial,sans-serif;background-color: #F0F0F0; clear:both;}
li {list-style:none;}
#container {background-color:#FFF;width:960px;margin-left: -480px;border: 1px solid #8d8d8f;  top: 0px; position: absolute; left: 50%;}

header {height: 45px;padding: 0px 15px; background-color: #3F434F; }
#logo {text-decoration: none;font-weight: bold;font-size: 20px;color: white; top: 10px; position: absolute;}
nav {display: inline-block;}
nav li {list-style: none;float: left;padding: 5px;color:white;}
#login{position: absolute;right: 10px;top: 10px;}
#login input{float:right}

#splash{height: 270px;margin: 0px 0px 20px 0px;display: block; padding: 25px 30px; background-color: #dfe0e6; border-bottom: 1px solid #8d8d8f;}
#splash_desc{width: 400px; float:left}
#splash_reg{width: 400px;float: right;margin: 50px 0px 0px 0px;}
td.label{font-size: 13px;width: 105px;padding: 10px 10px 0px 0px;vertical-align: top; text-align: right;}
div.field_container input.inputtext, div.field_container textarea {padding: 6px;font-size: 16px;width: 460px;border: 1px solid #ccc;}
select {font-size: 13px; padding: 5px; height: 30px;}

aside {padding: 0px 30px;float: right;width: 244px; border-left: 1px solid #ccc; margin: 20px 0px;}

.dashboard{padding:0px 0px 0px 30px; margin: 20px 0px;}
.dashboard.three_col{width:100%; float:left;}
.dashboard.two_col{width: 595px; float:left; margin-right: 30px;}
footer {padding:10px 0px 10px 30px;background:#E8E8EA;height:120px;border-top: 1px solid #8d8d8f;clear:both}

form {border: 1px solid; background-color: #e8e2d3; padding: 5px; min-height:30px; clear: both;}

.content_box {float: left;}
.content_box.medium {width: 280px; border: 1px solid; padding: 5px; margin: 0px; margin-top: 10px;}
.content_box.small {width: 155px;margin-right: 30px;}
.content_box.right {float: right;}
.content_box.blue {background-color: #e9ecf4;}


.header_box {border: 1px solid #8D8D8F;padding: 5px; height:100px;}
.header_box.red {background-color:red;}
.header_box.green {background-color:green;}
.header_box.yellow {background-color:yellow;}

.text {font-family: "lucida grande",tahoma,verdana,arial,sans-serif;}
.text.header {font-weight:bold;}
.text.micro {font-size: 11px;}
.text.small {font-size: 13px;}
.text.medium {font-size: 14px;}
.text.large {font-size: 16px;}
.text.feature {font-family:georgia;}

.button {border: 1px solid; font-weight:bold; cursor:pointer; text-align:center; margin-right:10px; float:left}
.button.green {background-color: #69A74E;border-color: #3B6E22 #3B6E22 #2C5115;color: white;}
.button.blue {background-color: #4E68A7;border-color: #3B6E22 #3B6E22 #2C5115;color: white;}
.button.large {padding: 6px;font-size: 13px;min-width: 120px;}
