*:focus{ outline:none; /* Prevents blue border in Webkit */ }
 
body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /*  */;}

p { line-height: 1.6; }
 
input.form, textarea.form {
	background-color:#fff;
	border:1px solid #ccc;
	font-size:20px;
	width:300px;
	min-height:30px;
	display:block;
	margin-bottom:16px;
	margin-top:8px;
			
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
			
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
		
textarea { min-height:200px; }
 
input:focus, textarea:focus {
	-webkit-box-shadow:0 0 25px #ccc;
	-moz-box-shadow:0 0 25px #ccc;
	box-shadow:0 0 25px #ccc;
			
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
}
		
input:not(:focus), textarea:not(:focus) { opacity:0.75; }
		
input:required, textarea:required { background:url("/tests/formdemo/asterisk_orange.png") no-repeat 280px 7px; }
 
input:valid, textarea:valid { background:url("/tests/formdemo/tick.png") no-repeat 280px 5px; }		
 
input:focus:invalid, textarea:focus:invalid { background:url("/tests/formdemo/cancel.png") no-repeat 280px 7px;	}

header {margin: 10px auto; width: 1000px; }

#login {float: right;}

#content {  
	display: table;  
	margin: 10px auto;
	width: 1000px;
}  

#inbox {
	display: table-cell;    
	width: 800px;
	margin: 10px auto;
	min-height: 400px;	
}

#search {
	display: table-row; 
}
  
#col {
	width: 200px;
	display: table-cell;
	min-height: 400px;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

#content aside article {
	border:1px solid #ccc;
	height: 270px;
	background-color: #CCCCFF;
	margin-bottom:15px;

	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:0 0 10px #ccc;
	-moz-box-shadow:0 0 10px #ccc;
	box-shadow:0 0 10px #ccc;
}

#inbox article {
	border:1px solid #ccc;
	font-size:20px;
	width:240px;
	display: block;
	margin: 12px;
	background-color: #F2F5ED;
	float: left;
	height: 120px;
	
	
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	
	-webkit-box-shadow:0 0 10px #ccc;
	-moz-box-shadow:0 0 10px #ccc;
	box-shadow:0 0 10px #ccc;
	
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	}

#paging {
	display: table-row;
	text-align: center;
	}

#inbox article h1 {
	border-bottom:1px solid #FFCC00;
	font-size: 14px;
	height: 20px;
	margin: 0px;
	padding: 5px;	
	}

#inbox article p {
	width: 220px;
	height: 75px;
	font-size: 13px;
	display:table-cell;
	padding: 3px;

	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	}

#inbox article aside {
	width: 20px;
	display: table-cell;
	height: 75px;
	padding: 3px;
	}

#inbox article img {
	opacity: 0.75;
	}

#inbox article img:hover {
	opacity: 1; 
	}


#login input {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:#fff;
	border:1px solid #ccc;
	font-size:14px;
	width:180px;
	display:block;
	margin-top:0px;
	margin-bottom: 5px;
	padding:3px;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
			
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#login input[type=submit] {
	background-color:#fff;
	border:1px solid #ccc;
	font-size:14px;
	width:180px;
	display:block;
	padding:3px;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
			
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

footer {
margin: 10px auto;
width: 1000px;
}

footer ul {
float: left;
list-style-type: none;
width: 280px;
}
